In [2]:
import pandas as pd

In [5]:
arr = [1,2,4]
ser = pd.Series(arr)
ser

0    1
1    2
2    4
dtype: int64

In [7]:
ser_index = pd.Series(arr, index=['x','y','z'])
ser_index

x    1
y    2
z    4
dtype: int64

In [11]:
d = {
    'x':1,
    'y':2,
    'z':3
}
ser2 = pd.Series(d, index=["x"])
ser2

x    1
dtype: int64

In [13]:
d2 = {
    'c':[200,400,500],
    'd':[30,40,69]
}
serd = pd.Series(d2)
serd
serd = pd.DataFrame(d2)
serd

     c   d
0  200  30
1  400  40
2  500  69

In [14]:
serd.loc[0]["d"]

30

In [15]:
serd.loc[[0,1]]

     c   d
0  200  30
1  400  40

In [ ]:
data_set = pd.read_csv
# serd.dropna() is used to delete all rows with null values.s 
# serd.dropna(inplace=True) means affecting original data
# serd["Calories"].fillna(serd_df["Calories"].mean()) replaces null values with column mean.